html {
	background-color:black;
}	

body {
	font-size:100%;
	color:white;
	margin: 3em 3em 3em 3em;
}
	
h1 {
	display:block;
	min-width:5em;
	text-align:center;
	line-height: 2em;
	margin-top:1em;
	font-family:"Helvetica", Helvetica, Arial, sans-serif;
	color:#2abb9c;
	background:none;
	text-decoration:none;
}

p {
    font-size: 1.2em; 
	font-family:"Helvetica", Helvetica, Arial, sans-serif;
    line-height: 1.35em;
	background:nonel
	text-decoration:none;
}

/* Responsive Style with Media Queries */

@media screen and (max-width:767px) {
    body {
        font-size: 80%;
    }
}